<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Home page</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <table>
            <tr th:each="plane : ${planes}">
                <td th:text="${plane.firstName}">firstName</td>
                <td> - </td>
                <td th:text="${plane.id}">id</td>
        </table>

        <p>
            <span th:text="'Today is: ' + ${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}" th:remove="tag"></span>
        </p>
    </body>
</html>
